.container {
      display: grid;
      grid-template-columns: 300px 300px;
      grid-template-rows: 250px 1000px 100px;
      grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "main main main main main sd sd sd "
            "ft ft ft ft ft ft ft ft";
      border: 1px solid white;
      background-color: white;
      padding: 40px;
      grid-row-gap: 20px;
}


.header {
      grid-area: hd;
      height: 80px;
      padding: 80px;
      border-bottom: 1px solid #e0e0e0;
      font-family: Roboto, sans-serif;
      font-size: 12px;
      color: #657482;
}

.content {
      grid-area: main;
      max-width: 1000px;
      padding-left: 80px;
      padding-right: 50px;
      font-family: Roboto, sans-serif;
      line-height: 200%;
}

.sidebar {
      grid-area: sd;
      max-width: 270px;
      max-height: 70px;
      margin-right: -20px;
      margin-top: 25px;
}

.footer {
      grid-area: ft;
      max-width: 1000px;
      padding-left: 77px;
}

.post_title {
      font-size: 22px;
      margin-bottom: -20px;
      color: solid #e0e0e0;
}

.post-data {
      margin-top: 30px;
}

h5 {
      font-size: 14px;
      font-weight: lighter;
      color: #454F58;
}

hr {
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: #e0e0e0;
      border-top: 1px #e0e0e0;
      height: 0.5px;
}

img {
      width: 40%;
      height: auto;
      margin-bottom: 1px;
}


button {
      background-color: white;
      border: none;
      margin-left: 10px;
}

.post_date {
      color: #454F58;
      font-weight: 200;
}

.post_author {
      font-style: italic;
      font-weight: 200;
}

.labels {
      font-size: 18px;
}

.label {
      color: #454F58;
}

@media (min-width: 767px) {
      .container .blog-post {
            width: 968px;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            margin-bottom: 3rem;
      }
}
