.main-content {
    display: grid;
    padding-left: 7rem;
    text-align: left;
}

#GDG {
    margin-top: 2rem;
    color: #96A0AA;
    margin-bottom: 4rem;
}

.container {
    max-width: 600px;
    margin-right: auto;
}

img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 80%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.post_title {
    font-size: 1.2rem;
    font-weight: 300;
}

.post_title:hover {
    color: #96A0AA;
}

.post-data {
    text-align: justify;
    padding: 0.5rem 1.5rem 1rem 1.5rem;
    line-height: 1.4rem;
    font-weight: 300;
}

.continue-reading {
    font-size: 1rem;
    color: #96A0AA;
}

@media (min-width: 767px) {
    .container-content .post {
        width: 968px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        margin-bottom: 3rem;
    }

    .container-content .post .post_header{
        width: 60%;
        float: left;
    }
    
    .post_header {
        width: 60%;
        float: left;
    }

    .post_image {
        width: 60%;
        float: left;
    }

    .post-data {
        width: 60%;
        padding: unset;
        font-size: 1rem;
    }
    
    .post:nth-child(even) .post_header {
        width: 60%;
        float: left;
    }
    
    .post:nth-child(even) .post-data {
        width: 60%;
        float: left;
    }
    
    .post:nth-child(even) .post_image {
        width: 60%;
        float: left;
    } 
    
    .continue-reading {
        float: left;
        border: none;
        font-size: 0.8rem;
    }
} 
